
.wrapper {
  background: rgb(245, 245, 245);;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
  
  .header-bottom__right{
    position: relative;  
    margin: auto 0; 
  }
    .header-bottom__right__goodjob{
      padding: 0 14px;
      font-size: 14px;
    }
    .header-bottom__right__news{
      @extend .header-bottom__right__goodjob;
    }
    .header-bottom__right__todolist{
      @extend .header-bottom__right__goodjob;
    }
    .header-bottom__right__mypage{
      @extend .header-bottom__right__goodjob;
    }
    


  .bread-crumbs { 
    background: #fff;
    position: relative;
    border-top: 1px solid #eee;
    color: #333;
    cursor: auto;
    font: 66.66667% sans-serif;
    padding: 16px 0;
    white-space: normal;
  }
}