.wrapper
  = render 'header-area'

  .bread-crumbs 
    %a{href:""}
      メルカリ  ＜  マイページ  メール/パスワード
  
  .content-area
    = render 'left-area'

    .email-pass-area
      .email-pass-container
        .right-chapter-head
          メール/パスワード
        .email-pass-area-inner
          .right-single-content
            .change-email-area
              .email-pass-name 
                メールアドレス              
              .email-pass-input-area
                テスト
              .email-pass-info-text
                メールアドレスを変更すると確認メールが送信されます。メール内のURLをクリックすると変更完了です。
            .change-pass-input
              .email-pass-name
                現在のパスワード
                .email-pass-input-area
                  ****
              .email-pass-name
                新しいパスワード
                .email-pass-input-area
                  ****
              .email-pass-name
                新しいパスワード確認
                .email-pass-input-area
                  ****
                .email-pass-info-text
                  パスワードを設定したい場合は上記をすべて入力してください。（設定しない場合は空欄）
              .deliver-form-btn
                変更する