.wrapper
  .header-area
    .header-area__wrapper
      .header-top
        %img{href: "", alt: "メルカリマーク", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2482339763", width: "134", height: "36"}
        %form{action: "", method: "post", class: "search-form"}
          %input{name: "search", placeholder: "何かお探しですか？", type: "search", class: "search-input"}
            = fa_icon "search", class: "icon-search"
        -# %input{name: "submit", type: "submit", value: "検索"}/
      .header-bottom
        .header-bottom__left
          .header-bottom__left__brand
            %a
              カテゴリーから探す
          .header-bottom__left__category
            %a
              ブランドから探す
        .header-bottom__right
          .header-bottom__right__goodjob
            %a{href:""}
              いいね！一覧
          .header-bottom__right__news
            %a{href:""}
              お知らせ
          .header-bottom__right__todolist
            %a{href:""}
              やることリスト
          .header-bottom__right__mypage
            %a{href:""}
              マイページ

      .header-bottom__bread__crumbs 
        %a{href:""}
          メルカリ＜マイページ
          
  .bread-crumbs 
  .content-area
    .content__left
      .content__left__list
        .content__left__list__mypage
          %a{href:""}
            マイページ
        .content__left__list__news
          %a{href:""}
            お知らせ
        .content__left__list__todolist
          %a{href:""}
            やることリスト
        .content__left__list__goodjob
          %a{href:""}
            いいね！一覧
        .content__left__list__exhibit
          %a{href:""}
            出品する
        .content__left__list__exhibitnow
          %a{href:""}
            出品した商品 - 出品中
        .content__left__list__transactionnow
          %a{href:""}
            出品した商品 - 取引中
        .content__left__list__transactionend
          %a{href:""}
            出品した商品 - 売却済み
        .content__left__list__buynow
          %a{href:""}
            購入した商品 - 取引中
        .content__left__list__buyend
          %a{href:""}
            購入した商品 - 過去の取引
        .content__left__list__newslist
          %a{href:""}
            ニュース一覧
        .content__left__list__evaluation
          %a{href:""}
            評価一覧
        .content__left__list__guide
          %a{href:""}
            ガイド
        .content__left__list__contact
          %a{href:""}
            お問い合わせ
      .content__left__merpay
        メルペイ
        .content__left__merpay__transfer
          %a{href:""}
            売上・振込申請
        .content__left__merpay__point
          %a{href:""}
            ポイント
      .content__left__config
        設定
        .content__left__config__profile
          %a{href:""}
            プロフィール
        .content__left__config__address
          %a{href:""}
            発送元・お届け先住所変更
        .content__left__config__payment
          %a{href:""}
            支払い方法
        .content__left__config__passmail
          %a{href:""}
            メール/パスワード
        .content__left__config__person
          %a{href:""}
            本人情報
        .content__left__config__tell
          %a{href:""}
            電話番号の確認
        .content__left__config__logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete
    .content__right
      .mypage-user-icon
      .mypage-tab-container-notification-todo
      .mypage-tab-container-notification-todo
        .mypage-tabs
        .tab-content
      .mypage-tab-container
  .app-banner
  .global-footer



        

  


//= link_to "ログアウト", destroy_user_session_path, method: :delete