.wrapper
  = render 'header-area'

  .bread-crumbs 
    = link_to 'メルカリ  ＜  マイページ  ＜  電話番号の確認', ''
      
  .content-area
    = render 'left-area'

    .sms-confirmation-area
      .right-chapter-head
        完了
      .sms-confirmation-text
        確認済みです
  