// メインのフッター部分 footer.scss
.fotter__contents
  .fotter__contents__main
    .fotter__contents__main__about
      %h2
        メルカリについて
      %ul
        %li.fotter-font
          会社概要（運営会社）
        %li.fotter-font
          採用情報
        %li.fotter-font
          プレスリリース
        %li.fotter-font
          公式ブログ
        %li.fotter-font
          メルカリロゴ利用ガイドライン
        %i.fab{class: "fa-twitter-square fa-3x"}
        %i.fab{class: "fa-facebook-square fa-3x"}
    .fotter__contents__main__help
      %h2
        ヘルプ＆ガイド
      %ul
        %li.fotter-font
          メルカリガイド
        %li.fotter-font
          らくらくメルカリ便
        %li.fotter-font
          ゆうゆうメルカリ便
        %li.fotter-font
          大型メルカリ便
        %li.fotter-font
          車体取引ガイド
        %li.fotter-font
          メルカリあんしん・あんぜん宣言！
        %li.fotter-font
          偽ブランド品撲滅への取り組み
        %li.fotter-font
          メルカリボックス
    .fotter__contents__main__privacy
      %h2
        プライバシーと利用規約
      %ul
        %li.fotter-font
          プライバシーポリシー
        %li.fotter-font
          メルカリ利用規約
        %li.fotter-font
          あんしんスマホサポート制度に関する利用特約
        %li.fotter-font
          コンプライアンスポリシー
        %li.fotter-font
          個人データの安全管理に関わる基本方針
        %li.fotter-font
          特定商取引に関する表記
        %li.fotter-font
          資金決済法に基づく表示
        %li.fotter-font
          法令遵守と犯罪抑止のために
    .fotter__contents__main__language
      %h2
        国
      %ul
        %li.fotter-font
          日本
        %li.fotter-font
          United States
  .fotter__contents__bottom
    = image_tag '/mercari-bw.svg', class: "mercari-bw"
    %span © 2019 Mercari