.header-area
  .header-area__wrapper
    .header-top
      %img{href: "", alt: "メルカリマーク", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2482339763", width: "134", height: "36"}
      %form{action: "", method: "post", class: "search-form"}
        %input{name: "search", placeholder: "何かお探しですか？", type: "search", class: "search-input"}
          = fa_icon "search", class: "icon-search"
      -# 検索機能実装時記述
      -# %input{name: "submit", type: "submit", value: "検索"}/
    .header-bottom
      .header-bottom__left
        .header-bottom__left__category
          カテゴリーから探す
        .header-bottom__left__brand
          ブランドから探す
      .header-bottom__right
        .header-bottom__right__signup
          = link_to '新規会員登録', signup_index_path
            
        .header-bottom__right__login
          = link_to 'ログイン', new_user_session_path
            

