// メインのヘッダー部分 _header.html.haml
.header-area {
  background: white;

  &__wrapper {
    width: 1020px;
    margin: 0 auto;
    padding: 8px 0 0;
    background: #fff;

    .header-top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search-form {
        position: relative;
        margin-left: 45px;
        width: 100%;

        .search-input {
          background: rgb(245, 245, 245);
          border-radius: 4px;
          padding: 0 42px 0 10px;
          width: 100%;
          height: 40px;
        }

        .icon-search {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
        }
      }
    }

    .header-bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;

      &__left {
        display: flex;
        margin-left: -3px;
        font-size: 14px;
        font-weight: 600;
        line-height: 36px;
        white-space: nowrap;

        &__category::before {
          height: 44px;
          position: relative;
          z-index: 3;
          padding: 0px 10px;
          font-family: FontAwesome;
          content: '\f0ca';
          color: red;
        }

        &__brand::before {
          height: 44px;
          position: relative;
          z-index: 3;
          padding: 0px 10px;
          font-family: FontAwesome;
          content: '\f02b';
          color: red;
        }
      }

      &__right {
        display: flex;
        position: relative;

        &__signup {
          text-align: center;

          a {
            background-color: rgb(234, 53, 45);
            color: rgb(255, 255, 255);
            display: block;
            font-size: 14px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(234, 53, 45);
            border-image: initial;
            border-radius: 4px;
            padding: 5px 10px;
          }
        }

        &__login {
          text-align: center;
          margin-left: 11px;

          a {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 149, 238);
            display: block;
            font-size: 14px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(0, 149, 238);
            border-image: initial;
            border-radius: 4px;
            padding: 5px 10px;
            transition: all 0.3s ease-out 0s;
          }
        }
        ul {
          display: flex;
          position: relative;
          margin-block-start: initial;

          li {
            display: block;
            font-size: 14px;
            color: #333333;
            height: 24px;
            padding: 0px 7px;
          }

          .fa-heart {
            color: rgb(204, 204, 204);
          }

          &__news {
            padding-left: 0px;
          }

          &__mypage {
            padding-right: 0px;
          }
        }
      }
    }
  }
}