.wrapper {

  .main-wrapper {

    .srider {
      width: 100%;
      img {
        display: block;
        width: auto;
        height: 400px;
        margin: 0 auto;
      }
    }

    .popularity {
      background-color: rgb(255, 255, 255);
      padding: 56px 0px 30px;

      h2 {
        margin-bottom: 16px;
        text-align: center;
        font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.4em;
      }
      &__category {
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;

        &__list {
          display: block;
          text-align: center;
          width: 100%;

          &__name {
            display: inline-block;
            a {
              background-color: rgb(239, 239, 239);
              cursor: pointer;
              font-size: 14px;
              font-weight: 600;
              border-radius: 15px;
              padding: 8px 16px;
            }
          }
          // &__mens {
          //   display: inline-block;
          //   a {
          //     background-color: rgb(239, 239, 239);
          //     cursor: pointer;
          //     font-size: 14px;
          //     font-weight: 600;
          //     border-radius: 15px;
          //     padding: 8px 16px;
          //   }
          // }
          // &__camera {
          //   display: inline-block;
          //   a {
          //     background-color: rgb(239, 239, 239);
          //     cursor: pointer;
          //     font-size: 14px;
          //     font-weight: 600;
          //     border-radius: 15px;
          //     padding: 8px 16px;
          //   }
          // }
          // &__toy {
          //   display: inline-block;
          //   a {
          //     background-color: rgb(239, 239, 239);
          //     cursor: pointer;
          //     font-size: 14px;
          //     font-weight: 600;
          //     border-radius: 15px;
          //     padding: 8px 16px;
          //   }
          // }
        }
      }
    }
    .category-items {
      width: 1020px;
      padding: 42px 0px 100px;
      margin: 0 auto;

      &__erea {
        margin-bottom: 16px;
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        &__header {
          .new-item {
            text-align: left;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.4em;
            margin: 0;
            padding: 0;
          }
        }
        .more {
          font-size: 14px;
          color: rgb(0, 149, 238);
        }
        &__list {
          &__item {
            width: 168px;
            height: 256px;
            background: skyblue;
            display: inline-block;
            margin: 0 0 20px 20px;
            &__box {
              &__image {
                height: 170px;
                
              }
              &__price {
                background-color: gray;
                height: 30px;
                width: 40%;
                margin-bottom: 5px;
                padding-left: 5px;
                line-height: 30px;

              }
              &__caption {
                background-color: white;
                height: 56px;
                padding: 5px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .bottom-image {
      height: 260px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

