.signup-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  text-align: center;

  ul {
    padding: 0px;

    li {
      display: inline-block;
      color: #333;
    }
  }
  img {
    margin: 30px auto 0;
    width: 80px;
    height: 65px;
  }
}
