
.wrapper {
  background: #eee;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
  
  .header-bottom__right{
    position: relative;  
    margin: auto 0; 
  }
    .header-bottom__right__goodjob{
      padding: 0 14px;
      font-size: 14px;
    }
    .header-bottom__right__news{
      @extend .header-bottom__right__goodjob;
    }
    .header-bottom__right__todolist{
      @extend .header-bottom__right__goodjob;
    }
    .header-bottom__right__mypage{
      @extend .header-bottom__right__goodjob;
    }
    


  .bread-crumbs { 
    background: #fff;
    position: relative;
    border-top: 1px solid #eee;
    color: #333;
    cursor: auto;
    font: 66.66667% sans-serif;
    padding: 16px 0;
    white-space: normal;
  }


  .content__right{
    background: red;
    float: right;
    width: 700px;
    height: 1027px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 0;
    font-size: inherit;
    line-height: inherit;
    box-sizing: inherit;
    display: block;
  }
  .mypage-user-icon__area{
    background: rgb(225, 241, 195);
    height: 200px;
    width: 100%;
    // padding: 20px;         ???
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-icon__zone{
    // background: #fff;
    width: 100%;
    height: 111px;
    display: block;
    position: absolute;
    // top: 50%;
    left: 0;
    right: 0;  
  }
    .user__icon{
      background: tan;
      overflow: hidden;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      border-radius: 50%;
    }
    .user__name{
      margin: 8px 0 0;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4;
      background-repeat: no-repeat;
      margin-block-start: 0.83em;
      // margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    .mypage-number{
      width: 100%;
    }
      .user__evaluation{
        display: inline-block;
        font-size: 14px;
        border-style: solid;
        border-width: 0;
      }
      .user__exhibits{
        display: inline-block;
        font-size: 14px;
        border-style: solid;
        border-width: 0;    
      }

// ログアウト画面の表示
  .content__right__logout__area {
    float: right;
    width: 700px;
    background: #fff;
    &__form {
      padding: 64px;
      &__btn {
        max-width: 320px;
        margin: 0 auto;
        button {
          margin: 0;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
        }
      }
    }
  }



// クレッジットカードの表示
  .right-container-card-info{
    width: 65%;
    background: #fff;
    float: right;
    .right-container-card-info-head {
      padding: 12px 4%;
      text-align: center;
      font-size: 24px;
      line-height: 1.4;
      border-bottom: 1px solid #f5f5f5;
      font-weight: bold;
    }
    .right-container-card-info-inner {
      border-top: 1px solid #f5f5f5;
      padding: 40px;
      section{
        display: block;
        .card-info-content-box {

          .card-info-content-box-head{
            max-width: 320px;
            margin: 0 auto;
            font-size: 14px;
            font-weight: bold;
          }
          .card-info-list{
            li{
              padding: 24px 0;
              border-bottom: 1px solid #eee;
            }
            .card-info-form {
              max-width: 320px;
              margin: 0 auto;
              position: relative;
              img{
                vertical-align: middle;
              }
              .card-info-num{
                margin: 8px 0 0;
                font-size: 16px;

        
              }
              .card-info-remove {
                position: absolute;
                top: 0;
                right: 0;
                padding: 4px 6px;
                background: #fff;
                border-radius: 3px;
                border: 1px solid #ea352d;
                color: #ea352d;
                button {
                  outline: 0;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }


  .card-info-guidance {
    display: block;
    margin: 40px 0 0;
    text-align: right;
    color: #0099e8;
  }
  
  .mypage-tab-container-notification-todo{
    background: darkblue;
    height: 405px;
    width: 100%;
    // padding: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: block; 
  }
    .mypage-tabs{
      height: 75px;
      width: 100%;
      border: 0;
      font-size: 0;
    //   margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // padding-inline-start: 40px;

    }
      .mypage-news{
        font-weight: bold;
        font-size: 14px;
        color: #333;
        height: 75px;
        width: 50%;
        border: 0;
        background: white;   
        text-align: center;  
        position: relative;
        display: block;
        font-size: 16px;
        line-height: 72px;
        touch-action: manipulation;
      }
      .mypage-todo{
        font-weight: bold;
        font-size: 14px;
        color: #333;
        height: 75px;
        width: 50%;
        border: 0;
        background: rgb(241, 194, 210);
        text-align: center;
        position: relative;
        display: block;
        font-size: 16px;
        line-height: 72px;
        touch-action: manipulation;

        position:absolute;
        top: 0px;
        right: 0px;
      }
      .tab-content{
        width: 100%;
        height: 370px;
        background: #eee;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        border-style: solid;
        border-width: 0;
      }
      .mypage-news-list{
        @extend .tab-content;
      }
      .mypage-news-link{
        width: 100%;
        height: 80px;
        font-size: 14px;
        background: white;
        display: block;
        min-height: 80px;
        margin: 0, 1px, 1px, 1px;       
        padding: 16px;
        color: #333;

      }
        .mypage-news-body{
          margin: 0 40px 0 68px;
          // width: 100%;
          height: 100%;
          background: rgb(227, 227, 255);
          display: block;
        }
        .mypage-item-text{
          height: 100%;
          float: left;
        }
      .mypage-news-link2{
        @extend .mypage-news-link;
        margin: 1px;
      }
    .mypage-go-link{
      padding: 16px;
      width: 100%;
      height: 85px;
      font-size: 14px;
      background: white;
      margin: 1px;
      
    }
      .mypage-go-link-text{
        margin: auto;
        display: block;
        height: 100%;
        margin: 0 auto;
        background: #eee;
        color: #333;
        text-align: center;
        line-height: 56px;
      }

  .purchased-product{
    margin: 40px 0 0;
    background: rgb(255, 231, 231);
    height: 387px;
    width: 100%;
    padding: 0;
    border-style: solid;
    border-width: 0;
    font-size: inherit;
    line-height: inherit;
    box-sizing: inherit;
    display: block;
    color: #333;
    cursor: auto;
    font: 66.66667% sans-serif;
  }
    .purchased-product-head{
      background: #fafafa;
      font-size: 16px;
      line-height: 72px;
      padding: 0 16px;
      font-weight: bold;
    }
    .purchased-product-list{
      width: 100%;
      height: 75px;
      border: 0;
      background: #eee;
      font-size: 0;
      position: relative;
      display: block;
    
      .purchased-product-now{
        width: 50%;
        height: 100%;
        background: #fff;
        position: relative;
        display: block;
        color: #333;
        font-size: 16px;
        line-height: 72px;
        cursor: pointer;
        font-weight: bold;     
        display: block; 
      }
      .purchased-product-old{
        background:rgb(217, 255, 217);
        @extend .purchased-product-now;
        position:absolute;
        top: 0px;
        right: 0px;

      }   
    }
    @import "mypage-content-area";
  .bottom-image {
    height: 260px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
