.wrapper
  = render 'shared/header'

  .main-wrapper
    .srider
    .popularity
      %h2
        人気のカテゴリー
      .popularity__category
        %ul.popularity__category__list
          %li.popularity__category__list__ladies
            %a
              レディース
          %li.popularity__category__list__mens
            %a
              メンズ
          %li.popularity__category__list__camera
            %a
              家電・スマホ・カメラ
          %li.popularity__category__list__toy
            %a
              おもちゃ・ホビー・グッズ

    .category-items
      .category-items__ladies
        .category-items__ladies__header
          %h3.new-item
            レディース新着アイテム
        %a.more{href:""}
          もっと見る ＞
      .category-items__ladies__list
        - (1..10).each do |i|
          .category-items__ladies__list__item
      .category-items__ladies
        .category-items__ladies__header
          %h3.new-item
            メンズ新着アイテム
        %a.more{href:""}
          もっと見る ＞
      .category-items__ladies__list
        - (1..10).each do |i|
          .category-items__ladies__list__item
      .category-items__ladies
        .category-items__ladies__header
          %h3.new-item
            家電・スマホ・カメラ新着アイテム
        %a.more{href:""}
          もっと見る ＞
      .category-items__ladies__list
        - (1..10).each do |i|
          .category-items__ladies__list__item
      .category-items__ladies
        .category-items__ladies__header
          %h3.new-item
            おもちゃ・ホビー・グッズ新着アイテム
        %a.more{href:""}
          もっと見る ＞
      .category-items__ladies__list
        - (1..10).each do |i|
          .category-items__ladies__list__item
    .srider-bottom

  = render 'shared/footer'
  = render 'shared/button'

