.wrapper
  .header-area
    .header-area__wrapper
      .header-top
        %img{href: "", alt: "メルカリマーク", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2482339763", width: "134", height: "36"}
        %form{action: "", method: "post", class: "search-form"}
          %input{name: "search", placeholder: "何かお探しですか？", type: "search", class: "search-input"}
            = fa_icon "search", class: "icon-search"
        -# %input{name: "submit", type: "submit", value: "検索"}/
      .header-bottom
        .header-bottom__left
          .header-bottom__left__category
            カテゴリーから探す
          .header-bottom__left__brand
            ブランドから探す
        .header-bottom__right
          .header-bottom__right__signup
            %a{href:""}
              新規会員登録
          .header-bottom__right__login
            %a{href:""}
              ログイン
        -# ログイン中の表示
        -# %ul.header-bottom__right
        -#   %li.header-bottom__right__news
        -#     お知らせ
        -#   %li.header-bottom__right__todo
        -#     やることリスト
        -#   %li.header-bottom__right__mypage
        -#     マイページ

  .main-wrapper
    .srider
    .popularity
      %h2
        人気のカテゴリー
      .popularity__category
        %ul.popularity__category__list
          %li.popularity__category__list__ladies
            %a
              レディース
          %li.popularity__category__list__mens
            %a
              メンズ
          %li.popularity__category__list__camera
            %a
              家電・スマホ・カメラ
          %li.popularity__category__list__toy
            %a
              おもちゃ・ホビー・グッズ
    .category-items
      .category-items__ladies
        .category-items__ladies__header
          %a
            レディース新着アイテム
          %a{href:""}
            もっと見る
        .category-items__ladies__list


  .fotter__contents
    .fotter__contents__main
      .fotter__contents__main__about
        %h2
          メルカリについて
      .fotter__contents__main__help
        %h2
          ヘルプ＆ガイド
        %ul
          %li.fotter-font
            会社概要（運営会社）
          %li.fotter-font
            採用情報
          %li.fotter-font
            プレスリリース
          %li.fotter-font
            公式ブログ
          %li.fotter-font
            メルカリロゴ利用ガイドライン

      .fotter__contents__main__privacy
        %h2
          プライバシーと利用規約
-# .wrapper
-#   .chat-side
-#     = render 'shared/side_bar'

