.single-container
  .single-container__sell-main
    .single-container__sell-main__sell-item
      .single-container__sell-main__sell-item__sell-container
        .single-container__sell-main__sell-item__sell-container__data-reactroot
          .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-main-head
            商品の情報を入力
          .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-main-form
            .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-main-form__sell-item-box
              .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-main-form__sell-item-box__sell-item-head
                .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-main-form__sell-item-box__sell-item-head__sell-item-text
                  出品画像
                .single-container__sell-main__sell-item__sell-container__data-reactroot__form__box__item-head__item-required
                  必須
                .single-container__sell-main__sell-item__sell-container__data-reactroot__form__box__item-head__item-small
                  最大10枚までアップロードできます
              .single-container__sell-main__sell-item__sell-container__data-reactroot__form__box__dropbox-container
                .single-container__sell-main__sell-item__sell-container__data-reactroot__form__box__dropbox-container__items-container
                  .single-container__sell-main__sell-item__sell-container__data-reactroot__form__box__dropbox-container__items-container__have-item-0
                .single-container__sell-main__sell-item__sell-container__data-reactroot__form__box__dropbox-container__upload-drop-box
                  .single-container__sell-main__sell-item__sell-container__data-reactroot__form__box__dropbox-container__upload-drop-box__visible-pc
                    ドラッグアンドドロップ
                    またはクリックしてファイルをアップロード
                  .icon-camera
          .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-content
            .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-content__product-nam
              .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-content__product-nam__content-label
                商品名
              .sell-upload-required
                必須
              .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-content__product-nam__input-default
                商品名（必須 40文字まで)
            .sell-content-blank
            .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-content__product-description
              .sell-content-label
                商品の説明
              .sell-upload-required
                必須
              .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-content__product-description__textarea-default
                商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。
          .single-container__sell-main__sell-item__sell-container__data-reactroot__content-clearfix
            .single-container__sell-main__sell-item__sell-container__data-reactroot__content-clearfix__details-head
              商品の詳細
            .single-container__sell-main__sell-item__sell-container__data-reactroot__content-clearfix__details-box
              .sell-content-label
                カテゴリー
              .sell-upload-required
                必須
              .sell-content_input-default
                .icon-arrow-bottom
                .select-default
                  ***
              .sell-content-blank
              .sell-content-label
                商品の状態
              .sell-upload-required
                必須
              .sell-content_input-default
                .icon-arrow-bottom
                .select-default
                  ***
          .single-container__sell-main__sell-item__sell-container__data-reactroot__delivery
            .sell-sub-details-head
              配送について
            .form-question
              = link_to '?'
            .single-container__sell-main__sell-item__sell-container__data-reactroot__delivery__delivery-box
              .sell-content-label
                配送料の負担
              .sell-upload-required
                必須
              .sell-content_input-default
                .icon-arrow-bottom
                .select-default
                  ***
              .sell-content-blank
              .sell-content-label
                発送元の地域
              .sell-upload-required
                必須
              .sell-content_input-default
                .icon-arrow-bottom
                .select-default
                  ***
              .sell-content-blank
              .sell-content-label
                発送までの日数
              .sell-upload-required
                必須
              .sell-content_input-default
                .icon-arrow-bottom
                .select-default
                  ***
          .single-container__sell-main__sell-item__sell-container__data-reactroot__content-income
            .sell-sub-details-head
              販売価格(300〜9,999,999)
            .form-question
              = link_to '?'
            .single-container__sell-main__sell-item__sell-container__data-reactroot__content-income__income-box
              .single-container__sell-main__sell-item__sell-container__data-reactroot__content-income__income-box__sell-price
                .single-container__sell-main__sell-item__sell-container__data-reactroot__content-income__income-box__sell-price__income-form-group
                  .single-container__sell-main__sell-item__sell-container__data-reactroot__content-income__income-box__sell-price__income-form-group__sell-clearfix
                    .single-container__sell-main__sell-item__sell-container__data-reactroot__content-income__income-box__sell-price__income-form-group__sell-clearfix__income-clearfix-left
                      .sell-content-label
                        価格
                      .sell-upload-required
                        必須
                    .single-container__sell-main__sell-item__sell-container__data-reactroot__content-income__income-box__sell-price__income-form-group__sell-clearfix__right-sell-price-input
                      ¥
                      .single-container__sell-main__sell-item__sell-container__data-reactroot__content-income__income-box__sell-price__income-form-group__sell-clearfix__right-sell-price-input__incomeinput-default
                        例）300
                  .single-container__sell-main__sell-item__sell-container__data-reactroot__content-income__income-box__sell-price__income-form-group__income-sales-commission
                    .single-container__sell-main__sell-item__sell-container__data-reactroot__content-income__income-box__sell-price__income-form-group__income-sales-commission__sales-commission-left
                      販売手数料 (10%)
                    .single-container__sell-main__sell-item__sell-container__data-reactroot__content-income__income-box__sell-price__income-form-group__income-sales-commission__sales-commission-right
                      ー
                  .single-container__sell-main__sell-item__sell-container__data-reactroot__content-income__income-box__sell-price__income-form-group__sell-clearfix-bold
                    .single-container__sell-main__sell-item__sell-container__data-reactroot__content-income__income-box__sell-price__income-form-group__sell-clearfix-bold__clearfix-bold-left
                      販売利益
                    .single-container__sell-main__sell-item__sell-container__data-reactroot__content-income__income-box__sell-price__income-form-group__sell-clearfix-bold__clearfix-bold-right
                      ー
          .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-btn-box
            .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-btn-box__btn-box-text-area
              .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-btn-box__btn-box-text-area__text-area-line
                .sell-content-sell-btn-box-text-area1-1
                  = link_to '禁止されている出品'
                .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-btn-box__btn-box-text-area__text-area-line__area1-2
                  、
                .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-btn-box__btn-box-text-area__text-area-line__area1-3
                  = link_to '行為'
                .sell-content-sell-btn-box-text-area1-2
                  を必ずご確認ください。
              .sell-content-sell-btn-box-text-area-line
                .sell-content-sell-btn-box-text-area1-2
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-btn-box__btn-box-text-area__text-area-line__area1-4
                  = link_to '偽ブランドの販売'
                .sell-content-sell-btn-box-text-area1-2
                  は犯罪であり処罰される可能性があります。
              .sell-content-sell-btn-box-text-area-line
                .sell-content-sell-btn-box-text-area1-2
                  また、出品をもちまして
                .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-btn-box__btn-box-text-area__text-area-line__area1-5
                  = link_to '加盟店規約'
                .sell-content-sell-btn-box-text-area1-2
                  に同意したことになります。
              .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-btn-box__btn-box-text-area__default-btn-red
                = link_to '出品する'
              .single-container__sell-main__sell-item__sell-container__data-reactroot__sell-btn-box__btn-box-text-area__default-btn-gray
                = link_to 'もどる'
              .overlay
