.registration-wrapper {
  background-color: #f5f5f5;

  .header-step1 {
    height: 128px;
    text-align: center;

    img {
      display: inline-block;
      margin: 40px 0 0;
      width: 185px;
      height: 49px;
      line-height: 49px;
    }

    .header-step1__signup-bar {
      display: inline-block;
      padding: 40px 0 0 44px;
      vertical-align: top;
      border: 0;

      ol {

        li.active {
          font-weight: 600;
          color: #ea352d;

          .progress-status {
            background: #ea352d;
          }

          .progress-status:before {
            background: #ea352d;
          }
        }

        li.through {

          .progress-status {
            background: #ea352d;
          }
          .progress-status:before {
            background: #ea352d;
          }
          .progress-status:after {
            background: #ea352d;
          }
        }

        li {
          position: relative;
          display: inline-block;
          margin: 0 40px 0 0;
          font-size: 12px;
          color: #888;
          z-index: 1;
          min-width: 40px;

          .progress-status {
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ccc;
            border-radius: 50%;
          }
          .progress-status:before, .progress-status:after {
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
            border-style: solid;
            border-width: 0;
          }
          .progress-status:before {
            right: 50%;
          }
        }

        li:first-child .progress-status:before {
          display: none;
            background: #ea352d;
        }
        li:last-child .progress-status:after {
          display: none;
        }
      }
    }
  }
  .registration-main {

    &__box {
      width: 700px;
      margin: 0 auto;
      background: #fff;

      &__title {
        font-size: 22px;
        padding: 32px;
        text-align: center;
        color: #333;

      }

      &__form-area {
        border-top: 1px solid #f5f5f5;
        padding: 40px 40px 64px;

        &__content {
          max-width: 343px;
          margin: 0 auto;

          &__group {
            margin: 40px 0 0;

            label {
              font-weight: 600;
              display: inline-block;
            }

            span {
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
            .any {
              background: gray;
            }

            input {
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
            }

            p {
              margin: 8px 0 0;
              padding: 0;
              font-size: 8px;
            }

            h3 {
              font-size: 16px;
            }

            .thanks {
              text-align: center;
            }

            .text-right {
              text-align: right;
              color: skyblue;
            }

            .input-default.half {
              width: calc(50% - 12px);
              margin: 8px 8px 0 0;
            }
          }
          &__group:first-child {
            margin: 0;
          }

          .prefecture {
            width: 100%;
            height: 48px;
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            border: 1px solid #ccc;
            background: 0;
            cursor: pointer;
          }

          .birthday-select {
            select {
              padding: 0 10px;
              width: 64px;
              height: 48px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
            }
          }

          .card-expiry {
            select {
              margin-top: 10px;
              width: 128px;
              height: 48px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              cursor: pointer;
            }
          }

          .form-info-text {
            margin: 8px 0 30px 0;
            font-size: 8px;
            color: #888;
          }

          .next-btn {
            margin-top: 32px;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .registration-bottom-image {
    width: 700px;
    margin: 0 auto;
    img {
      width: 700px;
      height: 360px;
    }
  }
}